<%= form_for [@user, @ball, @vot] do |f| %>
  <%= fields_for :votes do |ff| %>
    <table width=80% id="voting_table">
      <tr>
      <td scope="col">Rank</td>
      <% @rank.each do |r| %>
      <th><%= r %></th>
      <% end %>
      </tr>
          <% @candidates.each_with_index do |p, p_index| %>
          <tr>
          <th><%= p %></th>
            <% @rank.each_with_index do |r, r_index|%>
            <td>
              <%selected_vote = @user.votes.any? do |vot| %>
                <% vot.rank == r_index && vot.candidate_name == p_index %>
              <% end %>
                <%= radio_button_tag p, r_index, selected_vote %>
            </td>
            <% end %>
            </tr>
          <% end %>
    </table>
    <div>
      <%= ff.submit "vote !", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
