<%= form_tag(:controller => "votes", :action => "create") do %>

  <% @ball.each do |b| %>
  <h2><%= b.ballot_name %></h2>

  <% ballot_id =  b.ballot_name.gsub(/\s/, '-') %>

  <table id="<%= ballot_id %>">
  <% if @user.category.include? b.category %>
    <% @candidates = b.candidates.split(/\W+ /) %>
    <% @rank = b.rank.split(/\W+ /) %>
    <tr>
    </tr>
      <tr>
      <td scope="col" >Rank</td>
      <% @rank.each do |r| %>
      <th><%= r %></th>
      <% end %>
      </tr>
        <% @candidates.each_with_index do |p, p_index| %>
        <tr>
        <th><%= p %></th>
          <% @rank.each_with_index do |r, r_index|%>
          <td>
            <%selected_vote = @user.votes.any? do |vot| %>
              <% vot.rank == r_index && vot.candidate_name == p_index %>
            <% end %>
            <%= radio_button_tag p, r_index, selected_vote, :data => { table: "##{ballot_id}" } %>
          </td>
          <% end %>
          </tr>
        <% end %>
  <% end %>
  </table>
  <% end %>

  <div>
    <%= submit_tag "vote !", class: "btn btn-primary" %>
  </div>
<% end %>
