<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <br/>
    <%= link_to "OleVille Voting", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if !logged_in? %>
          <li><%= link_to "Log in", "/auth/google_oauth2", id: "sign_in" %></li>
        <% else %>
          <% if current_user.admin %>
            <li><%= link_to "Results", ballots_path %></li>
            <li><%= link_to "Upload Users", dat_path %></li>
          <% end %>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
