<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <br/>
    <%= link_to "OleVille Voting", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? == false%>
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Log in", "/auth/google_oauth2", id: "sign_in" %></li>
        <% else %>
          <li><%= link_to "Home",   current_user %></li>
          <li><%= link_to "Results", ballots_path %></li>
          <li><%= link_to "Upload Users", dat_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown_toggle" data-toggle="dropdown">
              Controls <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
